* {
    /* margin, border and padding affect the position of the targeted element */
    /* the astrics is the universal selctor */
    /* box sizing allows you to include the padding and border in the width and height of element */
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
}

header{
    /* display property, most important positioning property, 
    by default elements are block, display flex (refresh flexbox) */

    display: flex;
    width: 100%;
    margin: auto;
    align-items: top;
    height: 100vh;
    background-image: url("./src/sergi-kabrera-2xU7rYxsTiM-unsplash.jpg");
    background-size: cover;
    position: relative;
}



.logoContainer, .nav-links {
    display: flex;
}

.logoContainer {
    flex: 1;
    margin-top: 1.5%;
}

h1{
    margin-left: 10%;
}

nav {
    flex: 1;
    margin-top: 2.5%;

}

.nav-links {
    justify-content: space-around;
    list-style: none;

}

.nav-link {
    color: #3e3e4e;
    font-size: 18px;
    text-decoration: none;
}

.landingpage {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}

.landing-page-container {
    height: 80%;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(34, 34, 34, 0.685);
    box-shadow: 1px 0px 30px rgb(12, 12, 12);
    display: flex;
}

.description {
    width: 50%;
    flex: 1;
}

.pic {

}

.second-section {
    height: 100vh;
}


.third-section {
    height: 100vh;
}